body, h1, p{
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D5E1EF;
}

.container .card {
    width: 320px;
    height: 499px;
    border-radius: 20px;
    padding: 16px;
    background-color: white;
    box-sizing: border-box;
}

.container .card .qr-image {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.container .card .text {
    width: 288px;
    height: 132px;
    text-align: center;
    font-family: 'Outfit';
    margin-top: 24px;
}

.container .card .title {
    font-weight: bold;
    font-size: 22px;
    line-height: 26.4px;
}

.container .card .description {
    font-size: 15px;
    line-height: 21px;
    margin-top: 16px;
    color: #68778D;
}